&-container {
  overflow-x: hidden;
  overflow-y: auto;
}

&-panel {
  padding: 20px;
  margin: 20px 20px;
  border-radius: 4px;
  background-color: white;
}

&-card {
  margin: 20px;
  background-color: white;
}