* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  line-height: 24px;
  background: #f2f2f2;
  margin: 0 auto;
  -webkit-text-size-adjust: 100% !important;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
textarea,
select {
  -webkit-appearance: none;
}

input:focus {
  outline: 0;
}

input::-webkit-date-and-time-value {
  margin: 0;
}

p {
  line-height: 24px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}